name: Publish

on:
  schedule:
    # - cron: '*/5 * * * *'
    - cron: "0 6 * * *" # Nightly, run at 06:00 UTC
  push:
    paths:
      - "release.json" # Push events when this file is changed
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v2.0

jobs:
  build:
    if: >
      github.repository_owner == 'bartificer'
      || startsWith(github.ref, 'refs/heads/ci/test/')
      || startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.release_info.outputs.version }}
      tag: ${{ steps.release_info.outputs.tag }}
      date: ${{ steps.release_info.outputs.date }}
      download_url: ${{ steps.publish_release.outputs.browser_download_url }}

    steps:
      - name: Activity check
        shell: bash
        run: |
          # check if we need to build
          D=86400 # 24 hours in seconds

          lastcommit="$(curl -sL https://api.github.com/repos/$GITHUB_REPOSITORY/commits | \
          jq -r '[.[] | select (.commit.message != "Updating docs") ][0].commit.author.date')"
          timestamp=$(date -u -d "$lastcommit" +%s)
          days=$(( ( $(date -u +%s) - $timestamp ) / $D ))
          worktodo=1
          echo "lastcommit: $lastcommit"
          echo "timestamp: $timestamp"
          echo "days: $days"
          if [[ $days -gt 0 && $GITHUB_EVENT_NAME == 'schedule' ]]; then
            echo "nothing to do, last 'human' commit was $days days ago"
            worktodo=0
          fi
          echo "worktodo: $worktodo"
          echo "GHA_WORK_TO_DO=$worktodo" >> $GITHUB_ENV

      - name: Checkout
        if: env.GHA_WORK_TO_DO == 1
        uses: actions/checkout@v4

      - name: Get release information
        if: env.GHA_WORK_TO_DO == 1
        id: release_info
        run: python3 .github/scripts/release-info.py "$GITHUB_EVENT_NAME"

      - if: ${{ steps.release_info.outputs.release_type == 'nightly' }} && env.GHA_WORK_TO_DO == 1
        name: Delete existing nightly releases
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set +e
          git ls-remote --tags --refs origin 'refs/tags/nightly*' |
          cut -f 2 |
          while read ref; do
            hub release delete ${ref#refs/tags/}
            git push --delete origin $ref
          done

      # Debug info (optional but handy)
      - name: Show Docker info
        if: env.GHA_WORK_TO_DO == 1
        run: |
          docker --version
          docker compose version

      - name: Build book via Docker (make build)
        if: env.GHA_WORK_TO_DO == 1
        run: |
          make build

      - name: Commit changes (docs)
        if: env.GHA_WORK_TO_DO == 1
        uses: EndBug/add-and-commit@v4
        with:
          message: "Updating docs"
          add: "docs"

      - name: Upload binaries to release
        if: env.GHA_WORK_TO_DO == 1
        id: publish_release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: output/ttt*
          tag: ${{ steps.release_info.outputs.tag }}
          overwrite: true
          prerelease: ${{ steps.release_info.outputs.prerelease }}
          file_glob: true

      - name: Create a Slack message
        if: env.GHA_WORK_TO_DO == 1
        env:
          msg_tag: ${{ steps.release_info.outputs.tag }}
          msg_url: ${{ steps.publish_release.outputs.browser_download_url }}
        run: |
          msg='Release '
          if [[ ${{ steps.release_info.outputs.release_type == 'nightly' }} ]]; then
            msg='Prerelease '
          fi
          msg="${msg} ${msg_tag} is built.
          Available at ${msg_url}
          "
          echo 'TTT_BUILD<<EOF' >> $GITHUB_ENV
          echo "$msg" >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      # - name: notify Slack
      #   if: env.GHA_WORK_TO_DO == 1
      #   uses: uses: rtCamp/action-slack-notify@v2.1.0
      #   env:
      #     SLACK_WEBHOOK: ${{ secrets.SLACK_TTT_UPDATES }}
      #     SLACK_USERNAME: 'githubbot'
      #     SLACK_ICON_EMOJI: ':genie:'
      #     MSG_MINIMAL: true
      #     SLACK_MESSAGE: ${{ env.TTT_BUILD }}
